services/nodered/data/flows.json
[
    {
        "id": "2b0395538bdb0c29",
        "type": "tab",
        "label": "Bem vindo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63d8d935f71f19d6",
        "type": "tab",
        "label": "post_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a639a242d79dd424",
        "type": "tab",
        "label": "get_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12d44d40157c2fbd",
        "type": "tab",
        "label": "xdk110",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcf414604905f363",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1b3c63a4.c275cc",
        "type": "mqtt-broker",
        "name": "aedes:1883",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6cb52c32.2d24d4",
        "type": "ui_group",
        "name": "monitor",
        "tab": "391bb37912505109",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "11710002.55962",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "aa75609e0bfb9f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89c77bdb4e6a7c56",
        "type": "ui_group",
        "name": "control-tv-ir",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "ec3ea2bb2c375d43",
        "type": "ui_group",
        "name": "AC-BANCADA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "0c059704f2a4492e",
        "type": "ui_group",
        "name": "control-tv-ir",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "7c87fb7d7768b778",
        "type": "ui_group",
        "name": "control-sonoff",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3c7ec59465e2a11f",
        "type": "ui_group",
        "name": "AC-CENTRO1",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "b5424b3e68c13056",
        "type": "ui_group",
        "name": "AC-CENTRO2",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "04e42f237e32d3f6",
        "type": "ui_group",
        "name": "AC-NOC",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "da7c836cf21a1634",
        "type": "ui_group",
        "name": "BLINDS",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af5d7484b110507a",
        "type": "ui_group",
        "name": "CONTROLE-TOTAL",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "1452aaedcbd7f359",
        "type": "ui_group",
        "name": "Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0dc6cb4f74a67ed3",
        "type": "ui_group",
        "name": "sonoff",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b2474b4db0eb9982",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "391bb37912505109",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a6231b1943763196",
        "type": "comment",
        "z": "2b0395538bdb0c29",
        "name": "Bem-vindo ao Micro-serviço Node-red do Suricato IoT",
        "info": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "4898f51c0b4d2418",
        "type": "mqtt in",
        "z": "63d8d935f71f19d6",
        "name": "device1/alarm",
        "topic": "device1/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "5d840986e79c8a72"
            ]
        ]
    },
    {
        "id": "5d840986e79c8a72",
        "type": "json",
        "z": "63d8d935f71f19d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "7eff56736a794f6e",
                "c92f7b700315d17e"
            ]
        ]
    },
    {
        "id": "c92f7b700315d17e",
        "type": "debug",
        "z": "63d8d935f71f19d6",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "62ae2d79f0b824de",
        "type": "comment",
        "z": "63d8d935f71f19d6",
        "name": "suricato-01",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "7eff56736a794f6e",
        "type": "http request",
        "z": "63d8d935f71f19d6",
        "name": "suricato01-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.11:3000/alarm/update/suricato01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "06133f1d30c389da",
        "type": "mqtt in",
        "z": "12d44d40157c2fbd",
        "name": "myXdk",
        "topic": "device1/xdk110",
        "qos": "2",
        "datatype": "auto",
        "broker": "1b3c63a4.c275cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "49636df14102846b"
            ]
        ]
    },
    {
        "id": "79c12ff4664df326",
        "type": "debug",
        "z": "12d44d40157c2fbd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "6dd8bb164dcd17f8",
        "type": "ui_chart",
        "z": "12d44d40157c2fbd",
        "name": "",
        "group": "1452aaedcbd7f359",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "tem-env",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "93386aacc8c40dfd",
        "type": "ui_text",
        "z": "12d44d40157c2fbd",
        "group": "1452aaedcbd7f359",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "press",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "d84a4ccf723b8ec5",
        "type": "ui_text",
        "z": "12d44d40157c2fbd",
        "group": "1452aaedcbd7f359",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hum",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "84f6483c769bfd1f",
        "type": "ui_text",
        "z": "12d44d40157c2fbd",
        "group": "1452aaedcbd7f359",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "lumm",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "49636df14102846b",
        "type": "json",
        "z": "12d44d40157c2fbd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "79c12ff4664df326",
                "51ad29fddb00aef1",
                "e5d0c547f1afd8d0",
                "72988fcde38526b7",
                "c6cdaf5c19f5fe40"
            ]
        ]
    },
    {
        "id": "51ad29fddb00aef1",
        "type": "change",
        "z": "12d44d40157c2fbd",
        "name": "get-ir-hum",
        "rules": [
            {
                "t": "move",
                "p": "payload.data[0][\"H\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "d84a4ccf723b8ec5"
            ]
        ]
    },
    {
        "id": "e5d0c547f1afd8d0",
        "type": "change",
        "z": "12d44d40157c2fbd",
        "name": "get-ir-press",
        "rules": [
            {
                "t": "move",
                "p": "payload.data[0][\"P\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "93386aacc8c40dfd"
            ]
        ]
    },
    {
        "id": "72988fcde38526b7",
        "type": "change",
        "z": "12d44d40157c2fbd",
        "name": "get-ir-lumm",
        "rules": [
            {
                "t": "move",
                "p": "payload.data[0][\"L\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "84f6483c769bfd1f"
            ]
        ]
    },
    {
        "id": "c6cdaf5c19f5fe40",
        "type": "change",
        "z": "12d44d40157c2fbd",
        "name": "get-ir-temp",
        "rules": [
            {
                "t": "move",
                "p": "payload.data[0][\"T\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "6dd8bb164dcd17f8"
            ]
        ]
    },
    {
        "id": "39922ea668cd45de",
        "type": "change",
        "z": "a639a242d79dd424",
        "name": "suricato-01/alarm",
        "rules": [
            {
                "t": "move",
                "p": "payload.alarms[\"suricato-01\"][\"control\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0b0c307901bcf898",
        "type": "change",
        "z": "a639a242d79dd424",
        "name": "suricato-02/alarm",
        "rules": [
            {
                "t": "move",
                "p": "payload.alarms[\"suricato-02\"][\"control\"]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "42f0f83694f25428",
        "type": "debug",
        "z": "a639a242d79dd424",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "edad472b304366ad",
        "type": "json",
        "z": "a639a242d79dd424",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "39922ea668cd45de",
                "0b0c307901bcf898",
                "42f0f83694f25428"
            ]
        ]
    },
    {
        "id": "b62044fc9308b499",
        "type": "inject",
        "z": "a639a242d79dd424",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "a6501f191ca08bdb"
            ]
        ]
    },
    {
        "id": "41e32f97fa3fc389",
        "type": "mqtt in",
        "z": "63d8d935f71f19d6",
        "name": "device2/alarm",
        "topic": "device2/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "61653f1607c092dd"
            ]
        ]
    },
    {
        "id": "61653f1607c092dd",
        "type": "json",
        "z": "63d8d935f71f19d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "766ba61bd0a761a4",
                "db01ae47880c35dd"
            ]
        ]
    },
    {
        "id": "db01ae47880c35dd",
        "type": "debug",
        "z": "63d8d935f71f19d6",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "2cc1b4e8a099d758",
        "type": "comment",
        "z": "63d8d935f71f19d6",
        "name": "suricato-02",
        "info": "",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "766ba61bd0a761a4",
        "type": "http request",
        "z": "63d8d935f71f19d6",
        "name": "suricato02-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/mcu/alarm/dump/suricato02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ebee8c9e4a545ede",
        "type": "debug",
        "z": "a639a242d79dd424",
        "name": "Feedback2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "a6501f191ca08bdb",
        "type": "http request",
        "z": "a639a242d79dd424",
        "name": "suricato-alarms-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api:3000/mcu/alarm/data-updated",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "edad472b304366ad",
                "ebee8c9e4a545ede"
            ]
        ]
    },
    {
        "id": "f4dad1afbee9af03",
        "type": "mqtt in",
        "z": "63d8d935f71f19d6",
        "name": "device3/button",
        "topic": "device3/button",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "9f2f92e7b5bed7c6"
            ]
        ]
    },
    {
        "id": "9f2f92e7b5bed7c6",
        "type": "json",
        "z": "63d8d935f71f19d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "c341e46585c6efb1"
            ]
        ]
    },
    {
        "id": "c341e46585c6efb1",
        "type": "debug",
        "z": "63d8d935f71f19d6",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "5f418b8c742c3038",
        "type": "comment",
        "z": "63d8d935f71f19d6",
        "name": "suricato-03",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "0b3051a3632e7cc1",
        "type": "mqtt in",
        "z": "63d8d935f71f19d6",
        "name": "device4/temperature",
        "topic": "device4/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "158e6b3a6eb64019"
            ]
        ]
    },
    {
        "id": "158e6b3a6eb64019",
        "type": "json",
        "z": "63d8d935f71f19d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "d224a1869511d53f",
                "9b3f3b23dbcbaa47",
                "e9b323eda11c8bc4",
                "96b5b43d68caf93d",
                "62d9901c7d1910cf"
            ]
        ]
    },
    {
        "id": "d224a1869511d53f",
        "type": "debug",
        "z": "63d8d935f71f19d6",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "011bdd3c76cd91bf",
        "type": "comment",
        "z": "63d8d935f71f19d6",
        "name": "suricato-04",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "9b3f3b23dbcbaa47",
        "type": "http request",
        "z": "63d8d935f71f19d6",
        "name": "suricato04-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.11:3000/garden/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "65ef93f23d7dd98e",
        "type": "inject",
        "z": "63d8d935f71f19d6",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "5029b8b517bc959f",
                "aeb449eae37eb116"
            ]
        ]
    },
    {
        "id": "5029b8b517bc959f",
        "type": "mqtt out",
        "z": "63d8d935f71f19d6",
        "name": "",
        "topic": "device4/temp-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "aeb449eae37eb116",
        "type": "debug",
        "z": "63d8d935f71f19d6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c5abc5cc5a3134e",
        "type": "ui_chart",
        "z": "63d8d935f71f19d6",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "fe0b638bb9e2129e",
        "type": "ui_text",
        "z": "63d8d935f71f19d6",
        "group": "6cb52c32.2d24d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Umidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "e9b323eda11c8bc4",
        "type": "change",
        "z": "63d8d935f71f19d6",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "9c5abc5cc5a3134e"
            ]
        ]
    },
    {
        "id": "96b5b43d68caf93d",
        "type": "change",
        "z": "63d8d935f71f19d6",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "fe0b638bb9e2129e"
            ]
        ]
    },
    {
        "id": "8610905da1713302",
        "type": "ui_button",
        "z": "63d8d935f71f19d6",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "aeb449eae37eb116"
            ]
        ]
    },
    {
        "id": "62d9901c7d1910cf",
        "type": "change",
        "z": "63d8d935f71f19d6",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "1e7bc55b9301ee49"
            ]
        ]
    },
    {
        "id": "1e7bc55b9301ee49",
        "type": "ui_text",
        "z": "63d8d935f71f19d6",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 700,
        "wires": []
    }
]