services/nodered/flows.json
[
    {
        "id": "2b0395538bdb0c29",
        "type": "tab",
        "label": "Bem vindo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b6a17d3a6b02126",
        "type": "tab",
        "label": "post_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ab6915c1a9b96b3",
        "type": "tab",
        "label": "get_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcf414604905f363",
        "type": "mqtt-broker",
        "name": "suricato_mqtt",
        "broker": "192.168.1.101",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6cb52c32.2d24d4",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "391bb37912505109",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "11710002.55962",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "aa75609e0bfb9f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Suricato Home IoT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "391bb37912505109",
        "type": "ui_tab",
        "name": "Quintal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a6231b1943763196",
        "type": "comment",
        "z": "2b0395538bdb0c29",
        "name": "Bem-vindo ao Micro-serviço Node-red do Suricato IoT",
        "info": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "9e6f88e46176c171",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "78a8f1d42957319b",
                "2d21f171bd130d3f"
            ]
        ]
    },
    {
        "id": "2d21f171bd130d3f",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "a133419de4b0e96b",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-01",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "78a8f1d42957319b",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato01-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8566cd261d4a4208",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device2/alarm",
        "topic": "device2/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "882bd8422057709e"
            ]
        ]
    },
    {
        "id": "882bd8422057709e",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "2b1bcd6507d9beda",
                "4a3ca7bd290a843c"
            ]
        ]
    },
    {
        "id": "4a3ca7bd290a843c",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "4035bc9cb41b9a91",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-02",
        "info": "",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b1bcd6507d9beda",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato02-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "11c6db6220a0d31e",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device3/button",
        "topic": "device3/button",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "e4145ba7d8ff7eb4"
            ]
        ]
    },
    {
        "id": "e4145ba7d8ff7eb4",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "4d4cc91f2d013580"
            ]
        ]
    },
    {
        "id": "4d4cc91f2d013580",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e93e22d70768653",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-03",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "75f842a69e2ac79f",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device4/temperature",
        "topic": "device4/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "8ed72c51ed391168"
            ]
        ]
    },
    {
        "id": "8ed72c51ed391168",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "dccb3da16073945c",
                "626c5b5f73d71e42",
                "23eb4565a130f3b2",
                "1717ae26bb8298ba",
                "28c0ebf0e1f1ef43"
            ]
        ]
    },
    {
        "id": "dccb3da16073945c",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "db0ab551f61424a9",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11",
        "info": "",
        "x": 160,
        "y": 520,
        "wires": []
    },
    {
        "id": "626c5b5f73d71e42",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato04-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/garden/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "57d233b03d70da31",
        "type": "inject",
        "z": "6b6a17d3a6b02126",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "fddd8124c3e4c300",
                "49ab98d2900e762f"
            ]
        ]
    },
    {
        "id": "fddd8124c3e4c300",
        "type": "mqtt out",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "topic": "device4/temp-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "49ab98d2900e762f",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "52487e330c7651cb",
        "type": "ui_chart",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 3,
        "width": 10,
        "height": 10,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "23eb4565a130f3b2",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "52487e330c7651cb"
            ]
        ]
    },
    {
        "id": "1717ae26bb8298ba",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "980f63f4b48e820f"
            ]
        ]
    },
    {
        "id": "a5720799672ae305",
        "type": "ui_button",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "49ab98d2900e762f",
                "fddd8124c3e4c300"
            ]
        ]
    },
    {
        "id": "28c0ebf0e1f1ef43",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "5402779499eb30f8"
            ]
        ]
    },
    {
        "id": "5402779499eb30f8",
        "type": "ui_text",
        "z": "6b6a17d3a6b02126",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "0cc7df2ffb86635f",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device1/alarm",
        "topic": "device1/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9e6f88e46176c171"
            ]
        ]
    },
    {
        "id": "6d1ebdf41c0de833",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/garden/update",
        "info": "",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "8c81d9e3b4de5add",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/alarm/update/suricato01",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "662e28dd4772c9ce",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/alarm/update/suricato02",
        "info": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebf567bfd599d959",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "teste",
        "info": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "980f63f4b48e820f",
        "type": "ui_gauge",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "ff5a3ef3a7e8c4d2",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device5/motion",
        "topic": "device5/motion",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 980,
        "wires": [
            [
                "60d8f43d7701f7a1"
            ]
        ]
    },
    {
        "id": "60d8f43d7701f7a1",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 980,
        "wires": [
            [
                "7e44e5c82adf99a4",
                "9a42ba66fba958da",
                "ef445c4d90b7c855",
                "c94d1398ddd54559",
                "a0f1da0a6a46f66b"
            ]
        ]
    },
    {
        "id": "7e44e5c82adf99a4",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 940,
        "wires": []
    },
    {
        "id": "3585a047bd2bbdc7",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-20",
        "info": "",
        "x": 160,
        "y": 860,
        "wires": []
    },
    {
        "id": "a0f1da0a6a46f66b",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato20-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/motion/update/suricato20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "b684165f479669e2",
        "type": "inject",
        "z": "6b6a17d3a6b02126",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "597830a0b5b94567",
                "e96c4c55e2ed30f6"
            ]
        ]
    },
    {
        "id": "597830a0b5b94567",
        "type": "mqtt out",
        "z": "6b6a17d3a6b02126",
        "name": "device5/motion",
        "topic": "device5/motion-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "e96c4c55e2ed30f6",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 840,
        "wires": []
    },
    {
        "id": "3c077cb2c01f2b3e",
        "type": "ui_button",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "e96c4c55e2ed30f6",
                "597830a0b5b94567"
            ]
        ]
    },
    {
        "id": "9a42ba66fba958da",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-20/motion-place",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1040,
        "wires": [
            [
                "c294fc048906f9b4"
            ]
        ]
    },
    {
        "id": "c294fc048906f9b4",
        "type": "ui_text",
        "z": "6b6a17d3a6b02126",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0c2064a9d0f5bfc8",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/motion/update",
        "info": "",
        "x": 820,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef445c4d90b7c855",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-20/motion-type",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.type",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "c94d1398ddd54559",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-20/motion-status",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.status",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "0f292b076ee77124",
                "e706ff6f5e93de0c",
                "49b89a0c4534ad1c"
            ]
        ]
    },
    {
        "id": "0f292b076ee77124",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e706ff6f5e93de0c",
        "type": "file",
        "z": "6b6a17d3a6b02126",
        "name": "motion-status-file",
        "filename": "motion-status-file",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "6d4beea5a2449ea8"
            ]
        ]
    },
    {
        "id": "6d4beea5a2449ea8",
        "type": "file in",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "filename": "motion-status-file",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 1220,
        "wires": [
            [
                "893aa85b7691daea"
            ]
        ]
    },
    {
        "id": "893aa85b7691daea",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1220,
        "wires": []
    },
    {
        "id": "49b89a0c4534ad1c",
        "type": "switch",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "HIGH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 830,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "0dde69113ceb638f",
        "type": "debug",
        "z": "2ab6915c1a9b96b3",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "5df4cced9b516f38",
        "type": "json",
        "z": "2ab6915c1a9b96b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "0dde69113ceb638f"
            ]
        ]
    },
    {
        "id": "9b8af9e07446a241",
        "type": "inject",
        "z": "2ab6915c1a9b96b3",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bd407349079d8032",
        "type": "http request",
        "z": "2ab6915c1a9b96b3",
        "name": "suricato-alarms-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/alarm/getAllData/type/Alarm",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "5df4cced9b516f38"
            ]
        ]
    },
    {
        "id": "eaea12463f1350e3",
        "type": "comment",
        "z": "2ab6915c1a9b96b3",
        "name": "/alarm/getAllData/type/Alarm",
        "info": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa14462cab3e5a08",
        "type": "debug",
        "z": "2ab6915c1a9b96b3",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "c67325f1fe5988ba",
        "type": "json",
        "z": "2ab6915c1a9b96b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "aa14462cab3e5a08"
            ]
        ]
    },
    {
        "id": "96252906afc41b83",
        "type": "inject",
        "z": "2ab6915c1a9b96b3",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "50ca7f6314c64064",
        "type": "http request",
        "z": "2ab6915c1a9b96b3",
        "name": "suricato-alarms-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/alarm/getAllData/type/Garden",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "c67325f1fe5988ba"
            ]
        ]
    },
    {
        "id": "304ed506209b2908",
        "type": "comment",
        "z": "2ab6915c1a9b96b3",
        "name": "/alarm/getAllData/type/Garden",
        "info": "",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec0c53c566b2f397",
        "type": "debug",
        "z": "2ab6915c1a9b96b3",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 620,
        "wires": []
    },
    {
        "id": "a4918906a4b9a20f",
        "type": "json",
        "z": "2ab6915c1a9b96b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "ec0c53c566b2f397"
            ]
        ]
    },
    {
        "id": "6545e4f19e017073",
        "type": "inject",
        "z": "2ab6915c1a9b96b3",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "6a37cd5c7e71df92"
            ]
        ]
    },
    {
        "id": "6a37cd5c7e71df92",
        "type": "http request",
        "z": "2ab6915c1a9b96b3",
        "name": "suricato-motion-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/motion/show/suricato20",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "a4918906a4b9a20f"
            ]
        ]
    },
    {
        "id": "dc281d0dfcccdeae",
        "type": "comment",
        "z": "2ab6915c1a9b96b3",
        "name": "motion/show/suricato20",
        "info": "",
        "x": 400,
        "y": 500,
        "wires": []
    }
]